﻿@model IOT.Web.ViewModels.FactoryListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Fabrikalar)
                {
                <tr>
                    <td>@item.Name</td>
                </tr>
                }
                
               
            </tbody>
        </table>
    </div>
</body>
</html>
